<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <setting id="username" type="text" label="30002" default=""/>
        <setting id="password" type="text" label="30003" default="" option="hidden"/>
    </category>
    <category label="30004">
        <setting id="hostname" type="text" label="30005" default="iptv.kartina.tv"/>
        <setting id="adult" type="bool" label="30006" default="false"/>
        <setting id="sort_channels" type="bool" label="30007" default="false"/>
        <setting id="stop_on_idle" type="bool" label="30008" default="true"/>
    </category>
</settings>
